/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  margin:30px;
}

.top-message {
  margin: 30px 0 30px 30px;
}

.top-message p {
  margin-bottom: 30px;
}

.books-title {
  margin-bottom: 15px;
}

/*表を調整*/
th {
  font-size: 12px;
}

td {
  padding: 7px 15px 7px 0px;
  font-size: 12px;
}

table {
  margin-bottom: 15px;
  margin-left: 5px;
}

.show-contents {
  margin: 20px;
}

/*サクセスメッセージ色変更*/
.flash {
  color: green;
}
